.termos-bg {
    background-color: var(--cor-0);
}

.termos {
    margin-bottom: 120px;
}

.termos div {
    margin-bottom: 40px;
}

.termos h2 {
    margin-bottom: 24px;
}


@media(max-width:800px) {
    .termos {

        padding-bottom: 30px;
    }

    .termos div {
        margin-bottom: 24px;
    }

    .termos h2 {
        margin-bottom: 12px;
    }
}